
.product-details {
  margin:70px 120px 0px 120px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}


.box2 {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 120px;
}
