.cartlist {
 margin-top: 50px;
 width: 600px;
 height: 600px;

}





.cartlist{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
}


.container-payment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 130px;
    margin-right: 130px;
   
}


.payment-method {
  
    width:400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
   

}

