
.cartlist{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


.container-payment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
   
}


.payment-method {
    width:500px;
    height: 500px;
    padding:60px;


}

