/* src/index.css */


.search{
margin-bottom: 50px;
background: linear-gradient(to top left, #ffa71a 1%, rgb(255, 251, 0) 100%);
box-shadow: 2px 4px 4px   gray;
height: 70px;
align-items: center;
padding: 10px;

}
.search-input{
  
  border-color: rgb(246, 233, 233);
  border-radius: 10px;
  width: 400px;
  height: 45px;
}   

