/* src/index.css */


.Navbar {
    height: 60px;
    background: linear-gradient(to bottom left, #f6f2f2 1%, rgb(240, 238, 151) 100%);
    color: white;
    box-shadow: 1px 2px 2px 1px gray;
    margin-top: 5px;
    justify-content: space-between;
    justify-items: center;
    padding-top: 10px;
    padding-right: 4px;
    padding-left: 4px;
}    

.navbar-container2{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding-right: 6px;
    align-items: center;
    
}


.navbar-container1{
    padding-left: 30px;
    align-items: center;
   
}

.navbar-container1:hover{
    color:rgb(248, 211, 216) !important;
}

.nav-links:hover {
color:rgb(199, 216, 214) !important;
}


