
.itens{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding: 30px;
 
}

.box{
  width: 230px;
  height: 330px;
  padding: 30px;
  
}


