
.itens{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding: 30px;
  
 
}

.box{
  width: 230px;
  height: 330px;
  padding: 30px;
  
}

.Advertisement{
  margin-top: 40px;
  margin-bottom: 110px;
  height: 270px;
  width: 300px;
  margin-left: 500px;
  

  }

  .homepageGrid{
    display: flex;
  }

  .promotion{
    font-family:fantasy ;
    color: red;
    

  }


