
.itens{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding: 20px;
  
   
}

.box{
  width: 230px;
  height: 340px;
  padding: 30px;
  
}

.advertisement{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding-left:320px;
  padding-right: 100px;
  height: 400px;
  
}

.carousel{
  width: 60%;
}

  

.homepageGrid{
  display: flex;
}

.promotion{
  font-family:fantasy ;
  color: red;
  

}


